import datetime

def timer_decorator(func):
    def wrapper(*args, **kwargs):
        start_time = datetime.datetime.now()
        result = func(*args, **kwargs)
        end_time = datetime.datetime.now()
        execution_time = end_time - start_time
        print(f"Время выполнения функции '{func.__name__}': {execution_time}")
        return result
    return wrapper

# Пример использования декоратора
@timer_decorator
def example_function():
    total = 0
    for i in range(1000000):
        total += i
    return total

result = example_function()

# module_operations.py

def addition(x, y):
    return x + y

def subtraction(x, y):
    return x - y

def multiplication(x, y):
    return x * y

def division(x, y):
    if y != 0:
        return x / y
    else:
        return "Ошибка: деление на ноль!"

# main_calculator.py
import module_operations

def calculator():
    print("Простой калькулятор")
    while True:
        print("Выберите операцию:")
        print("1. Сложение")
        print("2. Вычитание")
        print("3. Умножение")
        print("4. Деление")
        print("5. Выход")

        choice = input("Введите номер операции: ")

        if choice == '5':
            print("Завершение программы.")
            break

        num1 = float(input("Введите первое число: "))
        num2 = float(input("Введите второе число: "))

        if choice == '1':
            result = module_operations.addition(num1, num2)
            print("Результат сложения:", result)
        elif choice == '2':
            result = module_operations.subtraction(num1, num2)
            print("Результат вычитания:", result)
        elif choice == '3':
            result = module_operations.multiplication(num1, num2)
            print("Результат умножения:", result)
        elif choice == '4':
            result = module_operations.division(num1, num2)
            print("Результат деления:", result)
        else:
            print("Неверный ввод. Попробуйте снова.")

if __name__ == "__main__":
    calculator()
